.title {
   font-weight: bold;
}

body {
 padding-top: 70px;
}

nav .active {
   font-weight: bold;
}

.muted {
 opacity: 0.5;
}

.thumbnail {
  border-radius: 5px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 10px 10px rgba( 0, 0, 0, 0.5);
}

.item {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  height: 136.25px;
}

.vertical-align {
  line-height: 136.25px;
  vertical-align: middle;
}

.profile-picture {
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.backbeard {
  background-color: rgba( 255, 237, 229, 0.5);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.float {
  background-color: rgba( 255, 237, 229, 0.8);
}

.fancyfont {
font-family: 'IM Fell DW Pica', serif;
}

#title {
  font-size: 75px;
}

.btn-info {
  background-image: linear-gradient(#57368E, #57368E 60%, #57368E);
  border-color: #57368E;
  color: #c8c8c8;
}

.btn-info:hover {
  background-image: linear-gradient(#5F3B9B, #5F3B9B 60%, #5F3B9B);
  font-weight: bold;
  border-color: #5F3B9B;
  color: #c8c8c8;
}

.btn-danger {
  background-image: linear-gradient(#801A1A, #801A1A 60%, #801A1A);
  border-color: #801A1A;
  color: #c8c8c8;
}

.btn-danger:hover {
  background-image: linear-gradient(#8D1D1D, #8D1D1D 60%, #8D1D1D);
  font-weight: bold;
  border-color: #8D1D1D;
  color: #c8c8c8;
}

.btn-primary {
  background-image: linear-gradient(#7a8288, #7a8288 60%, #7a8288);
  border-color: #7a8288;
  color: #c8c8c8;
}

.btn-primary:hover {
  background-image: linear-gradient(#858E95, #858E95 60%, #858E95);
  font-weight: bold;
  border-color: #858E95;
  color: #c8c8c8;
}

.nopad {
  padding: -15px;
}
