<form>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="author" class="control-label">Your Name</label>
        {{input value=author type="text" class="form-control"}}
    </div>
  </div>
  <div class="form-horizontal">
    <div class="form-group">
      <label for="body" class=" control-label">Your Thoughts</label>
        {{textarea value=body type="text" class="form-control" rows="4"}}
    </div>
  </div>
  <button name="button"></button>
</form>
